body {
  /* color: palevioletred; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.eminent_form{
  font-size: 14px;
  text-align: center;
  height: 35px;
  color: white;
  background: black;
  background-color: #132331;
  color: #fff;
  padding: 0px 30px;
  font-size: larger;
  font-weight: 500;
  width: 18%;
  width: fit-content;
  margin: 30px auto;
}
.form-group_1{
  margin-top: 25px;
}
.BUTTONS{
  display: flex;
    gap: 43%;
    margin: 40px 0px 0px 50px;
}
.btn2{
  margin-left: 650px;
}
.FORM{
  height: 880px;
}
.steper-context{
  width: 400%;
}
.steper-context h3{
  margin-left: -85%;
}
.step-button{
  display: flex;
 gap: 45%;
 margin-left: 10px;
}
.step-button button{
  color: white;
  background-color: orangered;
}
.steper1-name{
  margin-left: -80%;
}
.steper1-name fieldset{
  /* margin-left: -80%; */
  width: 770px;
  color: red;
}
.steper1-G-R{
  display: flex;
  margin: 1% 0% 0% 0%;
  gap: 58%;
}
.steper1-G-R fieldset{
  /* display: flex;
  margin: 1% 0% 0% 0%;
  gap: 15%; */
  width: 770px;
}
.Steper1-gr{
  /* display: inline; */
  margin-left: -80%;
  margin-top: 1%;
}
.Steper1-gr fieldset{
width: 1590px;
}
.steper1-gr-gap{
  margin-top: 1%;
}
.steper-context1 h3{
  margin-left: -85%;
}
.steper-context1{
  margin: 0% 0% 0% -90%;
  width: 571%;
  /* background-color: red; */
}
.steper1-N-E{
  display: flex;
  margin: 1% 0% 0% 0%;
  gap: 38%;
}
.steper1-N-E fieldset{
  /* display: flex;
  margin: 1% 0% 0% 0%;
  gap: 15%; */
  width: 740px;
}
.steper-context2 h3{
  margin-left: -85%;
}
.steper-context2 p{
  margin-left: -92%;
}
.steper-context2{
  margin: 0% 0% 0% -200%;
  width: 580%;
  /* background-color: red; */
}
.SUBMIT{
  margin: 80% 0% 0% -500%;
  width: 555%;
}
.SUBMIT-P{
  margin: 20% 0% 0% -300%;
  width: 555%;
}
.SUBMIT-G{
  margin: 20% 0% 0% -408%;
  width: 555%;
}
.steper1-G-R-D{
  /* background-color: red; */
    display: flex;
    width: 153%;
    margin-top: 1%;
    height: 12%;
    gap: 46%;
}
.steper1-G-R-D fieldset{
    width: 770px;
   
   
}
#Religion{
  height: 49px;
  width: 790px;
  margin-left: -130px;
  margin-top: 4px;
  border-radius: 4px;
  background-color: #fff;
  padding: 0px 0px 0px 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
  position: absolute;
  
}